<div class="container">
   <h1> <%=@restaurant.name%> </h1>
   <h3> <%=@restaurant.address%> </h3>
   <h3> <%=@restaurant.category%> </h3>
   <%= link_to "See All Restaurant", restaurants_path %>
</div>
